		<div class="well well-sm" style="margin-top: 1em;">
			<p><strong>Author</strong>: {{author}}</p>
			<p><strong>Title</strong>: {{title}}</p>
			<p><small>Played by <a href="{{user.url}}" target="_blank">{{user.name}}</a></small></p>
		</div>
		{{#if show}}
			<hr/>
			<h4><a href="{{show.tinyurl}}" target="_blank">{{show.venue_long}}</a></h4>
			<h5>Setlist</h5>
			<small>{{{show.setlistdata_txt}}}</small>
			<p><small>View show on <a href="{{show.phish_net_url}}" target="_blank">Phish.net</a></small></p>
		{{else}}

		{{/if}}
